<nav class="navbar" style='position:fixed;top:0;width:100%;z-index:2;padding:10px;background-color:rgb(255, 255, 255);'>
  <div class="container-fluid .justify-content-center" style='display: flex; flex-direction:column;justify-content: center;'>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'gallery' %}" style='color:black;; font-size: larger;'>Photo Gallery</a>
      
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a href="{% url 'gallery' %}" style='color:black;font-size: larger;'>Home</a></li>
        </ul>
        </div>
  </nav>